<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
            		<key>Name</key>
			<string>DSDT.aml</string>
			<key>Fixes</key>
			<dict>
			<key>NewWay_80000000</key>
			<true/>
			</dict>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
			<key>EnableC2</key>
			<true/>
			<key>EnableC4</key>
			<true/>
			<key>EnableC6</key>
			<true/>
			<key>EnableC7</key>
			<true/>
		</dict>
	</dict>

	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v slide=0</string>
		<key>DefaultVolume</key>
		<string>mac</string>
		<key>Fast</key>
		<false/>
		<key>IgnoreNVRAMBoot</key>
		<true/>
		<key>Legacy</key>
		<string>Legacy="PBR"</string>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>8</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>No</string>
		</dict>
		<key>Inject</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>BOOTX64.EFI</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>TextOnly</key>
		<true/>
		<key>ScreenResolution</key>
		<string>960x600</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>DualLink</key>
		<string>0</string>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<false/>
     		<key>KextsToPatch</key>
                <array>
                    <dict>
                                <key>Comment</key>
                                <string>Enable TRIM</string>
                                <key>Name</key>
                                <string>IOAHCIBlockStorage</string>
                                <key>Find</key>
                                <data>QVBQTEUgU1NE</data>
                                <key>Replace</key>
                                <data>AAAAAAAAAAAA</data>
                    </dict>
                </array>
	</dict>
	<key>RtVariables</key>
	<dict>

	</dict>

	<key>SMBIOS</key>
	<dict>
		<key>Mobile</key>
		<true/>
		<key>Trust</key>
		<true/>
		<key>SerialNumber</key>
		<string>************</string>
	</dict>

	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
